<p id="notice"><%= notice %></p>

<p>
  <b>Target type:</b>
  <%= @biosensor.sensor_target_type %>
</p>

<p>
  <b>Specificity:</b>
  <%= @biosensor.specificity %>
</p>

<p>
  <b>Specificity HTML:</b>
  <%= @biosensor.specificity_htm.html_safe %>
</p>

<p>
  <b>Name:</b>
  <%= @biosensor.sensor_name %>
</p>

<p>
  <b>Name HTML:</b>
  <%= @biosensor.sensor_name_htm.html_safe %>
</p>

<p>
  <b>Type:</b>
  <%= @biosensor.sensor_type %>
</p>

<p>
  <b>Analysis technique:</b>
  <%= @biosensor.anal_tech %>
</p>

<p>
  <b>In vitro properties:</b>
  <%= @biosensor.iv_props %>
</p>

<p>
  <b>Cell type of in vivo analysis:</b>
  <%= @biosensor.organism %>
</p>

<p>
  <b>Fluorophore:</b>
  <%= @biosensor.fluorophore %>
</p>

<p>
  <b>PubMed ID:</b>
  <%= @biosensor.pub_med_id %>
</p>

<p>
  <b>PI:</b>
  <%= @biosensor.pi_name %>
</p>


<%= link_to 'Edit', edit_biosensor_path(@biosensor) %> |
<%= link_to 'Back', biosensors_path %>
