<p id="notice"><%= notice %></p>

<p>
  <b>Specificity:</b>
  <%= @biosensor.specificity %>
</p>

<p>
  <b>Specificity htm:</b>
  <%= @biosensor.specificity_htm %>
</p>

<p>
  <b>Sensor name:</b>
  <%= @biosensor.sensor_name %>
</p>

<p>
  <b>Sensor name htm:</b>
  <%= @biosensor.sensor_name_htm %>
</p>

<p>
  <b>Sensor type:</b>
  <%= @biosensor.sensor_type %>
</p>

<p>
  <b>Anal tech:</b>
  <%= @biosensor.anal_tech %>
</p>

<p>
  <b>In vitro props:</b>
  <%= @biosensor.iv_props %>
</p>

<p>
  <b>Organism:</b>
  <%= @biosensor.organism %>
</p>

<p>
  <b>Fluorophore:</b>
  <%= @biosensor.fluorophore %>
</p>

<p>
  <b>Pub med:</b>
  <%= @biosensor.pub_med_id %>
</p>

<p>
  <b>Pi name:</b>
  <%= @biosensor.pi_name %>
</p>


<%= link_to 'Edit', edit_biosensor_path(@biosensor) %> |
<%= link_to 'Back', biosensors_path %>
